<%- include('header') -%>
  <div class="box" id="heading">
    <h1><%=titleToDoList%></h1>
  </div>
  <div class="box">
    <% for(var i=0; i < itemslist.length; i++){ %>
    <div class="item">
      <input type="checkbox">
      <p><%=itemslist[i];%> </p>
    </div>
    <% } %>
    <form action="/" class="item" method="post">
      <input type="text" name="itemToDoListTextbox" placeholder="Enter the item here." autocomplete="off">
      <button type="submit" name="addItemToDoList" value="<%= titleToDoList %>">+</button>
    </form>
  </div>

<%- include("footer") -%>
